/* General style */
* {
    box-sizing: border-box;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
    --white: #fff;
    --black: #000;
    --backBtn: #0d3634;
    --hoverBtn: #7b34ff;
}

body {
    background: var(--white);
    color: var(--black);
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3em;
}

/* Buttons */
.buttons {
    width: 450px;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: .5em 0;
}
    .button {
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: .15em .15em .15em var(--black);
        color: var(--white);
        background: var(--backBtn);
        border: .15em solid transparent;
        margin: .5em 0;
        padding: .5em 1em;
        border-radius: .5em;
        outline: none;
        transition: all .1s linear;
    }
        .button:hover,
        .button:focus {
            cursor: pointer;
            border-color: var(--hoverBtn);
            box-shadow: 0 0 .5em var(--hoverBtn);
        }

/* Container */
#container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border: .1em solid var(--black);
    width: 450px;
    max-width: 100%;
    height: 450px;
    margin: auto;
}
